*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* per centrare il tutto */
.container{
  width: 80vw;
  margin: auto;
}
/* intestazione (giallo) */
header{
  height: 10vh;
  background-color: yellow;
  overflow: auto;
}
/* corpo del sito */
main{
  /* background-color: lightgreen; */
  margin: 15px 0;
}

/* blocco sinistra */
.magenta-left{
  background-color: magenta;
  height: 25vw;
  width: 25vw;
  overflow: auto;
  padding: 20px;
  float: left;
}

/* blocco centrale */
.purple{
  display: inline-block;
  background-color: purple;
  height: 75vh;
  width: calc(100% - 50vw - 100px);
  margin-left:50px;
  padding: 50px;
}

/* blocchi sinistr */
.magenta{
  background-color: magenta;
  height: 15vw;
  width: 25vw;
  /* overflow: auto; */
  padding: 20px;

}

.left{
  float: right;
}

.down{
  margin-top: 20px;
}

/* fundamental */
main::after {
content: "";
display: table;
clear: both;
}

/* a che serve un commento qui */
footer{
  background-color: blue;
  height: 10vh;
}
